.header {
    background-color: #F3F4F7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.list-container {
    border-radius: 20px;
    padding: 20px;
}

.new-btn {
    text-align: center;
    padding: 0;
    float: right!important;
    border-radius: 10px!important;
}

.list-item {
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 3px 8px 4px!important;
    color: gray;
}

.list-item:hover {
    background-color: #F3F4F7;
}

i {
    padding-right: 10px;
}